@import './_reset.css';
@import './_variables.css';

body {
  background-color: var(--very-pale-blue);

  font-family: var(--manrope);
}

.rating-nav {
  margin-bottom: 4rem;

  text-align: center;
}

.rating-nav > h1 {
  margin-bottom: .5rem;

  color: var(--dark-desaturated-blue);

  font-size: 1.25rem;
  font-weight: 800;
  line-height: normal;
}

.rating-nav > p {
  color: var(--grayish-blue);
  
  font-size: .8125rem;
  font-weight: 600;
  line-height: 1.4375rem;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 327px;
  max-width: 540px;
  width: fit-content;

  padding: 2rem 0;

  border-radius: .5rem;

  background-color: var(--white);
}

.pricing-app {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--grayish-blue);

  font-family: var(--manrope);
  font-size: .75rem;
}

.pricing-app::after {
  content: " ";
  width: 100%;
  margin: 1.5rem 0rem;

  border-bottom: 1px solid var(--light-grayish-blue-slider);
}

.pricing-app > p:first-child {
  margin-bottom: 1.5rem;

  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .1071rem;
}

.pricing-app__input {
  margin-bottom: 1.5rem;
}

.pricing-app__total {
  margin-bottom: 2.25rem;

  font-size: .875rem;

  vertical-align: middle;
}

.pricing-app__total > span {
  color: var(--dark-desaturated-blue);

  font-size: 2rem;
  font-weight: 800;
}

.pricing-app__mys {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 1.125rem;
}

.pricing-app__mys__yearly {
  position: absolute;
  padding: .125rem .5rem;
  margin-left: .5rem;

  transform: translateX(105%);
  right: 0;

  border-radius: 9999px;

  color: var(--light-red);
  background-color: var(--light-grayish-red);
}

.pricing-app__input {
  width: 100%;
  overflow: hidden;
}

.pricing-app__input::-webkit-slider-thumb  {
  appearance: none;
  
  height: 2.5rem;
  aspect-ratio: 1;

  border-radius: 50%;
  border-image-source: linear-gradient(90deg, var(--soft-cyan) 50%, var(--grayish-blue) 50%);
  border-image-slice: 1;
  border-image-width: 0 200px;
  border-image-outset: 0 calc(200px);

  background-color: var(--strong-cyan);
}

.pricing-app__mys__select {
  position: relative;
  width: 2.625rem;

  aspect-ratio: 2;
  overflow: hidden;

  border-radius: 9999px;

  background-color: var(--light-grayish-blue-slider);

  transition: background-color 300ms;
}

.pricing-app__mys__select::after {
  content: " ";
  position: absolute;

  left: .25rem;
  top: 50%;
  transform: translateY(-50%);

  width: .875rem;
  aspect-ratio: 1;

  border-radius: 9999px;

  background-color: var(--white);

  transition: left 300ms;
}

.pricing-app__mys__select:checked {
  background-color: var(--soft-cyan);
}

.pricing-app__mys__select:checked::after {
  left: calc(2.625rem - .25rem - .875rem);
}

.pricing-benefits {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  color: var(--grayish-blue);

  font-family: var(--manrope);
  font-size: .75rem;
  font-weight: 600;
  text-align: center;
}

.pricing-benefits__list {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.pricing-benefits__list > li > i {
  margin-right: .25rem;

  color: var(--soft-cyan);
}

.pricing-benefits > p:last-child {
  gap: 2rem;
}

.pricing-benefits__submit {
  padding: .75rem 2.875rem;
  
  border: none;
  border-radius: 9999px;

  color: var(--pale-blue);
  background-color: var(--dark-desaturated-blue);

  font-weight: 800;
}

.pricing-benefits__submit:hover {
  color: var(--white);
}